 

*{
	font-family:Cambria,Geneva,Calibri;	
}
.inline{
	float:right;
	display:inline-block;
	padding-top:6px;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;
	font-size:19px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.15em;
}


.inline-last{
	padding-right:155px;
	padding-top:6px;
	padding-bottom:10px;
	padding-left:20px;
	float:right;
	display:inline-block;
	font-size:19px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.15em;
}
.head{
	float:left;
	display:inline;
	padding:2.5px 45px;
	font-size:25px;	
}	
.nav-bar{
	width:100%;
	height:10%;
	overflow:hidden;
	border-bottom:2px solid #f4f4f4;
}
.head1{
	padding-left:156px;
	padding-right:0px;
	font-size:31px;
	overflow:hidden;
	margin:0px;
	margin-top:95px;
	padding-bottom:18px;
	padding-top:22px;
}

.head2{
	padding-left:156px;
	padding-right:0px;
	font-size:31px;
	overflow:hidden;
	margin:0px;
	padding-bottom:18px;
	padding-top:22px;
}
.head3{
	padding-left:156px;
	padding-right:0px;
	font-size:31px;
	overflow:hidden;
	margin:0px;
	padding-bottom:18px;
	padding-top:22px;
}
.content1{
	width:600px;
	float:left;
	overflow:hidden;
	padding-left:190px;
	font-size:19px;
	text-align:justify;
	margin:0px;
	padding-bottom:0px;
	padding-top:0px;
}
.content2{
	width:600px;
	float:left;
	overflow:hidden;
	padding-left:220px;
	font-size:20.25px;
	text-align:justify;	
	margin:0px;
	padding-bottom:0px;
	padding-top:0px;
}
.content3{
	width:600px;
	float:left;
	overflow:hidden;
	padding-left:220px;
	font-size:20.25px;
	text-align:justify;	
	margin:0px;
	padding-bottom:0px;
	padding-top:0px;
}
.content{
	height:280px;
	text-align:left;
}
.footer{
	bottom:0;
	position:fixed;
	width:100%;
	text-align:center;
	font-size:11px;
	padding:6px ;
	height:10px;
	border-top:2.5px solid #D3D3D3;
	margin:3px;
}
a{
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 10px 20px;
  position: relative;
}
a.side:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2.5px;
  left: 50%;
  position: absolute;
  background: green;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a.side:hover:after { 
  width: 100%; 
  left: 0; 
}