*{
	font-family:Cambria,Geneva,Calibri;	
}
.container{
	width:800px;
	margin:auto;
}
.week{
	padding-left:40px;
	padding-right:0px;
	font-size:36px;
	overflow:hidden;
	margin-bottom:0px;
	margin-top:60px;
	padding-bottom:2px;
	padding-top:7px;
}
.date{
	padding-left:42px;
	padding-right:0px;
	font-size:20px;
	overflow:hidden;
	margin-bottom:0px;
	padding-bottom:10px;
	padding-top:1px;
	margin-top:0px;
}
.head1{
	padding-left:45px;
	padding-right:0px;
	font-size:31px;
	overflow:hidden;
	margin:0px;
	margin-top:25px;
	padding-bottom:13px;
}
.head2{
	padding-left:45px;
	padding-right:0px;
	font-size:31px;
	overflow:hidden;
	margin:0px;
	margin-top:20px;
	padding-bottom:13px;
}
.content1{
	width:680px;
	padding-left:43px;
	font-size:19px;
	text-align:justify;
	margin:0px;
	padding-bottom:0px;
	padding-top:0px;
}
.content2{
	width:680px;
	padding-left:51px;
	font-size:19px;
	text-align:justify;
	margin:0px;
	padding-bottom:0px;
	padding-top:0px;
}
.inimage{
	width:700px;
	height:300px;
	padding-bottom:0px;
	margin-bottom:0px;
	padding-left:55px;
}
.inimage1{
	width:450px;
	height:700px;
	padding-left:130px;
	padding-top:40px;
	padding-bottom:0px;
	margin-bottom:0px;
}
.inimage2{
	width:450px;
	height:450px;
	padding-left:130px;
	padding-top:20px;
	padding-bottom:0px;
	margin-bottom:0px;
}
.initial{
	padding-left:55px;
	padding-right:0px;
	font-size:24px;
	overflow:hidden;
	margin:0px;
	margin-top:20px;
	padding-bottom:10px;
}
a.design{
	text-decoration:none;
	color:blue;
	text-transform: lowercase;
	padding:0px;
}